<html>
    <head>
        <title>Eszter's blog</title>
    </head>
    <body>
        <div>
            <h1>Eszter Biró's Thoughts'</h1>
            <h3><<a href="https://eszti.com">Look at my Visual Work</a></h3>
            <h3><<a href="https://confabulations-v3.herokuapp.com/">Look at my Doctoral Research</a></h3>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p></p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p></p>
        </div>
    </body>
</html>
